@model IEnumerable<BookNest.Data.Publisher>

@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="~/css/categoriesIndex.css" />

<h1 class="page-title">Издателства</h1>

<p>
    <a class="btn-create"  asp-action="Create">Добави ново издателство</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
              Издателство
            </th>
            <th>
             Град
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                    <a class="action-link edit" asp-action="Edit" asp-route-id="@item.Id">Редактирай</a> |
                    <button type="button" class="action-link delete"
                            data-bs-toggle="modal"
                            data-bs-target="#deletePublisherModal-@item.Id">
                        Изтрий
                    </button>
            </td>
        </tr>

            <partial name="_PublisherDeleteModalPartial" model="item" />
}
    </tbody>
</table>
