@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Смяна на парола";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<link rel="stylesheet" href="~/css/manageIndex.css" />

<div class="manage-container">
    <h3 class="manage-title">@ViewData["Title"]</h3>
    <partial name="_StatusMessage" for="StatusMessage" />

    <div class="row profile-card">
        <div class="col-md-12">
            <form id="change-password-form" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

                <div class="form-group mb-3">
                    <label asp-for="Input.OldPassword" class="custom-label">Стара парола</label>
                    <input asp-for="Input.OldPassword" class="form-control custom-input" autocomplete="current-password" aria-required="true" placeholder="Въведете старата си парола..." />
                    <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
                </div>

                <div class="form-group mb-3">
                    <label asp-for="Input.NewPassword" class="custom-label">Нова парола</label>
                    <input asp-for="Input.NewPassword" class="form-control custom-input" autocomplete="new-password" aria-required="true" placeholder="Въведете новата си парола..." />
                    <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
                </div>

                <div class="form-group mb-3">
                    <label asp-for="Input.ConfirmPassword" class="custom-label">Потвърдете новата парола</label>
                    <input asp-for="Input.ConfirmPassword" class="form-control custom-input" autocomplete="new-password" aria-required="true" placeholder="Потвърдете новата си парола..." />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>

                <button type="submit" class="btn-save">Обнови паролата</button>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}