@{
    ViewData["Title"] = "Контакти";
}

<link rel="stylesheet" href="~/css/contacts.css" />

<div class="contacts-wrapper">
    <div class="contacts-header">
        <h1>Свържете се с <span class="accent">BookNest</span></h1>
        <p>Имате въпрос за някоя книга или нужда от съдействие? Ние сме тук за вас.</p>
    </div>

    <div class="contacts-grid">
        <div class="info-card">
            <div class="info-item">
                <div class="icon">📍</div>
                <div>
                    <h3>Адрес</h3>
                    <p> ул. "Капитан летец Дойчин Бояджиев", ет. 2<br />гр. Карлово, 4300</p>
                </div>
            </div>

            <div class="info-item">
                <div class="icon">📞</div>
                <div>
                    <h3>Телефон</h3>
                    <p>+359 888 123 456</p>
                </div>
            </div>

            <div class="info-item">
                <div class="icon">✉️</div>
                <div>
                    <h3>Електронна поща</h3>
                    <p>hello@booknest.bg</p>
                </div>
            </div>

            <div class="social-links">
                <a href="#" class="social-icon">fb</a>
                <a href="#" class="social-icon">ig</a>
                <a href="#" class="social-icon">in</a>
            </div>
        </div>

        <div class="hours-card">
            <h3>Работно време</h3>
            <div class="work-row">
                <span>Понеделник - Петък</span>
                <span class="dots"></span>
                <span>09:00 - 19:00</span>
            </div>
            <div class="work-row">
                <span>Събота</span>
                <span class="dots"></span>
                <span>10:00 - 16:00</span>
            </div>
            <div class="work-row holiday">
                <span>Неделя</span>
                <span class="dots"></span>
                <span>Почивен ден</span>
            </div>

            <div class="map-placeholder">
                <p>📍 Виж ни на картата</p>
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d1139.4592185324495!2d24.80721595595356!3d42.642010034718865!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e1!3m2!1sen!2sbg!4v1778512210796!5m2!1sen!2sbg" width="600" height="450" style="border:0;" 
                allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
</div>